<html xmlns:th="http://www.thymeleaf.org">
<head>

<!-- meta使用viewport以确保页面可自由缩放 -->
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
<!-- 引入 jQuery Mobile 样式 -->
<link rel="stylesheet"
	href="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css"></link>

<!-- 引入 jQuery 库 -->
<script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>

<!-- 引入 jQuery Mobile 库 -->
<script
	src="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

</head>
<body>

	<div id="page" data-role="page">

		<div id="pic" data-role="header" align="center">
			<img src="images/topimage.jpg" width="100%" height="50%"
				align="center" alt=""></img>
		</div>
		<div data-role="navbar">
			<ul>
				<li><a>课程介绍</a></li>
				<li><a>评价(999+)</a></li>
				<li><a>售后服务</a></li>
			</ul>
		</div>
		<div data-role="content">
			<img src="images/content1.jpg" width="100%" height="30%"
				align="center" alt=""></img>
			 <img src="images/content2.jpg"
				width="100%" height="30%" align="center" alt=""></img>
		</div>

	</div>
</body>
</html>