<html xmlns:th="http://www.thymeleaf.org">
 <head>

<!-- meta使用viewport以确保页面可自由缩放 -->
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" ></meta>
<!-- 引入 jQuery Mobile 样式 -->
<link rel="stylesheet" href="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css"></link>

<!-- 引入 jQuery 库 -->
<script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>

<!-- 引入 jQuery Mobile 库 -->
<script src="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

</head>
<body>
<div id="top" align="center">快来跟sundy一起学英语吧
  <hr width="500px" size="2" align="center" color="#036"></hr>
</div>
<div id="pic" align="center">
   <img src="images/topimage.jpg"  width="100%" height="35%"  align="center" alt=""></img>
</div>
<div id="footer">


</div>
</body>
</html>